rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // 기존 규칙 (만족도조사)
    match /courses/{courseId} {
      allow read: if true;
      allow write: if false;
    }

    match /courses/{courseId}/instructors/{instructorId} {
      allow read: if true;
      allow write: if false;
    }

    match /courses/{courseId}/students/{studentId} {
      allow read: if true;
      allow write: if false;
    }

    match /responses/{responseId} {
      allow read: if false;
      allow create: if true;
    }

  }
}
